@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: Clash Display;
font-size: 14px;
font-weight: 500;
line-height: 17.22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none; */
